.create-account {
  opacity: 1.0;
  transition: opacity 1ms linear;
}

.create-account-exit {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.create-account-enter-init {
  opacity: 0.01;
  transition: opacity 1ms linear;
}

.create-account-enter {
  opacity: 1;
  transition: opacity 100ms ease-in;
}