
.page {
  opacity: 1.0;
  transform: translateY(0);
  transition: opacity 1ms linear;
}

.page-exit {
  opacity: 0.01;
  transform: translateY(25px);
  transition: opacity 200ms ease-in, transform 150ms ease-in 50ms;
}

.page-enter-init {
  opacity: 0.01;
  transform: translateY(25px);
  transition: opacity 1ms linear;
}

.page-enter {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-in, transform 150ms ease-in 50ms;
}
