body {
  margin: 0;
  --mdc-theme-primary: #212121;
  --mdc-theme-secondary: #64dd17;
  --mdc-theme-background: #fff;
  --mdc-theme-text-primary-on-primary: white;
  --mdc-theme-text-secondary-on-primary: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-secondary: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-secondary: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-secondary: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-secondary: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-secondary: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

a.nav {
  color: var(--mdc-theme-text-primary-on-background);
}

main {
  max-width: 1312px;
  width: 95%;
  margin: auto;
}

@media (min-width: 480px) and (max-width: 839px) {
  main {
    width: 85%;
  }
}

@media (min-width: 839px) {
  main {
    width: 75%;
  }
}
