html { height: 100%; }
body { min-height: 100%; }
div {
	background-color: greenyellow;
}
.mainDiv{
    line-height: 0px;
}
.log{
    float:right;
}
h2 {
   text-align: center;
   padding:0px;
}
.main {
    width: 1340px;
    height: 500px;
	background-size: cover;
}

#reservation {
   text-align: center;
}
#sec1 {
    float:left;
    padding-bottom: 30px;
    padding-left:2px;
    width: 660px;
    height: 510px;
   
}
#sec2 {
    float:right;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 661px;
    height: 510px;
}
    